.button {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5pt;
  
  padding: 1rem;
  width: fit-content;

  color: black;
  text-decoration: none;

  transition: backround .2s ease, color .2s ease, border-color .2s ease;
}
.button:hover {
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: black;
  color: white;
}

.button.primary {
  background-color: black;
  color: #fff;
}
.button.primary:hover, .button.primary:focus {
  background-color: transparent;
  color: black;
}

.button.secondary {
  background-color: transparent;
  color: black;
  border-color: #eaeaea;
}
.button.secondary:hover, .button.secondary:focus {
  color: black;
  border-color: black;
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  .button {
    border-color: white;
    color: white;
    background-color: transparent;
  }
  .button:hover, .button:focus {
    background-color: white;
    color: black;
  }
  
  .button.primary {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  .button.primary:hover, .button.primary:focus {
    background-color: transparent;
    color: white;
  }
  
  .button.secondary {
    color: white;
    border-color: #6f6f6f;
  }
  .button.secondary:hover, .button.secondary:focus {
    color: white;
    border-color: white;
    background: transparent;
  }
}