.link {
  --text: black;
  --background: transparent;
  --accent: black;

  display: inline-block;
  box-sizing: border-box;
  padding: 1rem;
  width: fit-content;

  border-width: 1px;
  border-style: solid;
  border-radius: 5pt;
  border-color: var(--accent);

  color: var(--text);
  background: var(--background);
  text-decoration: none;

  transition: backround 0.2s ease, color 0.2s ease, border 0.2s ease;
}
@media (hover: hover) {
  .link:hover {
    --background: black;
    --text: white;

    outline: solid 1px var(--accent);
  }
}
.link:focus {
  --background: black;
  --text: white;

  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--accent);
}

.link.primary {
  --background: black;
  --text: white;
}
.link.primary:hover,
.link.primary:focus {
  --background: transparent;
  --text: black;
}

.link.secondary {
  --text: black;
  --accent: #eaeaea;
}
.link.secondary:hover,
.link.secondary:focus {
  --text: black;
  --accent: black;
  --background: transparent;
}

.link.telegram {
  --background: #4182f3;
  --accent: #4182f3;
  --text: white;
}
.link.telegram:hover,
.link.telegram:focus {
  --background: transparent;
  --text: #4182f3;
}

@media (prefers-color-scheme: dark) {
  .link {
    --accent: white;
    --text: white;
  }
  .link:hover,
  .link:focus {
    --text: #fff500;
    --accent: #fff500;
  }

  .link.primary {
    --background: black;
    --accent: #fff500;
    --text: #fff500;
  }
  .link.primary:hover,
  .link.primary:focus {
    --background: #fff500;
    --text: black;
  }

  .link.secondary {
    --text: white;
    --accent: #6f6f6f;
  }
  .link.secondary:hover,
  .link.secondary:focus {
    --text: white;
    --accent: white;
    --background: transparent;
  }

  .link.telegram {
    --background: transparent;
    --text: #4182f3;
    --accent: #4182f3;
  }
  .link.telegram:hover,
  .link.telegram:focus {
    --background: #4182f3;
    --text: white;
  }
}
