.markdown {
  font-family: "Times New Roman, serif";
  font-size: 1.3rem;
  line-height: 2rem;

  p {
    max-width: fit-content;
    white-space: pre-line;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
  }

  a {
    color: inherit;
  }

  .footnotes {
    color: rgb(150, 150, 150);
  }
}
