:root {
  color-scheme: light dark;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

.App {
  max-width: 900px;
  margin: auto;
  min-height: calc(100vh - 50px);
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
  }
}

.header {
  background-color: #eee;
  color: #c1c1c1;
  height: 70px;
}

.header h1 {
  font-family: "Roboto", sans-serif;
  padding-top: 22px;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 2px;
  text-align: left;
  font-size: 24px;
}

.song-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.move-left {
  margin-left: -50px;
  position: absolute;
}

.centered > div {
  float: none;
  display: inline-block;
  text-align: left;
}

.song-card {
  text-align: center;
  padding: 12px 10px;
  margin: 10px 10px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  background: #f6f6f6;
  color: #999;
  transition: all 0.1s ease;
}

a {
  text-decoration: none !important;
}
.song-card:hover {
  background: #eee;
  transition: all 0.1s ease;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .song-card {
    background-color: #444;
    color: #f6f6f6;
  }

  .song-card:hover {
    background: #333;
  }
}


.searchbar {
  padding: 10px;
  margin: auto;
}

.lyrics {
  min-height: calc(100vh - 100px);
  padding-top: 10px;
  background-color: #fff;
  width: 100%;
}

.lyrics h3 {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
  font-weight: 200;
  font-size: 28px;
  margin: 50px 0 10px;
}

@media (prefers-color-scheme: dark) {
  .lyrics {
    /* Use browser defaults for dark color scheme */
    background-color: inherit;
  }

  .lyrics p, .lyrics h3 {
    color: #eee;
  }
  
  .lyrics h3 {
    color: #eee;
    /* font-weight 200 causes very thin edges with antialiasing */
    font-weight: 300;
  }
}

.song-content {
  padding: 0 0.5em;
}


input.form-control {
  padding: 15px 0;
  border: 0;
  border-bottom: 2px solid #eee;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  outline: none;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  input.form-control {
    background-color: #111;
    color: #eee;
    border-bottom: 2px solid #666;
  }
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc !important;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc !important;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc !important;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc !important;
}

.form-control:focus {
  border-color: #d6cd05;
}

p {
  line-height: 1.9;
  font-family: "Times new Roman", serif;
  color: #666;
  font-size: 20px;
  display: inline-block;
  text-align: left;
}

.dank {
  border: 0;
  background: #f3f3f3;
  border-radius: 4px;
  color: #999;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.dank:hover {
  background-color: #eee;
  transition: all 0.1s ease;
}

@media (prefers-color-scheme: dark) {
  .dank {
    background-color: #999;
    color: #f3f3f3;
  }

  .dank:hover {
    background-color: #888;
  }
}

.tg-share-button {
  border: 0;
  /* color stolen from telegram's embed widget */
  background: #54a9eb;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  margin: 10px 0 10px 10px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transition: all 0.1s ease;
}


.tg-share-button:hover {
  /* original color, do not steal */
  background: #4182f3;
}

.song-info {
  font-family: "Times new Roman", serif;
  color: #666;
  font-size: 16px;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  .song-info {
    color: #ddd;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 30px !important;
  }

  .lyrics h3 {
    text-align: left;
  }
}

.footer {
  font-family: "Roboto", sans-serif;
  color: #999;
}

.footer-content {
  max-width: 880px;
  margin: auto;
  padding: 12px 10px;
}

.footer-content a {
  color: #666;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .footer-content a {
    color: #eee;
  }
}
